DATABASE_URL="postgresql://postgres:YOUR_POSTGRES_PASSWORD@localhost:5432/RealTime_ClientProjectDashboard?schema=public"

JWT_ACCESS_SECRET="your-access-secret-here"
JWT_REFRESH_SECRET="your-refresh-secret-here"

CLIENT_URL="http://localhost:5173"
NODE_ENV="development"